.alert {
    width: 350px;
    height: 250px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.alertText {
    text-align: center;
}
.alertClose {
    position: absolute;
    top: 11%;
    left: 93%;
    transform: translate(-50%, -50%);
}
@media (min-width: 1024px){
    .alert {
        width: 650px;
        height: 250px;
    }
    .alertClose {
        top: 11%;
        left: 96%;
    }
}
@media (min-width: 576px) and (max-width: 1023px) {
    .alert {
        width: 500px;
        height: 250px;
    }
    .alertClose {
        top: 11%;
        left: 95%;
    }
}