.navContainer{
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 80px;
    justify-content: space-evenly;
    padding: 0.25rem;
    width: 100%;
}
.navLogo {
    height: 50px;
    width: 150px;
}
.navItems {
    display: flex;
    padding: 0;
}
.navItems li {
    list-style-type: none;
    margin: 0 2rem;
}
.navItems li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}
.navItems li a:hover{
    text-decoration: underline;
    text-decoration-color: #820016;
}
.loginIcon {
    width: 25px;
}