.cartItem {
    border: 1px solid #b6b6b6;
    display: grid; 
    grid-template-columns: 0.75fr 2.25fr 0.5fr 1fr 1fr; 
    grid-template-rows: 0.1fr; 
    gap: 0px 0px; 
    place-items: center;
}

.trashIcon {
    cursor: pointer;
}